@import (inline) '../common/reset.css';
@import '../common/loader.less';
@import '../common/widgets/Button';
@import '../common/widgets/Dropdown';
@import '../common/widgets/Input';

#app {
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .form {
    position: fixed;
    bottom: 0;
    width: 100%;

    .button {
      margin-right: 0.5%;
      float: left
    }

    .input {
      float: left
    }
  }

  .messages {
    list-style-type: none;
    margin: 10px 0;
    padding: 10px 0;

    li {
      padding: 5px 10px;
      &:nth-child(odd) {
        background: #eee
      }
      sub {
        font-style: italic;
        font-size: x-small;
      }
    }
  }
}