<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <% if (htmlWebpackPlugin.options.development) { %>
      ${ require('raw-loader!../../common/modernizr.html') }
    <% } else { %>
      {{ render 'common/modernizr.html'}}
    <% } %>
    <!-- bundled style sheets will be inserted after this line -->
  </head>
  <body>
    <div id='app' class='loading'></div>
    <script type='text/javascript'>
      const fonts = {
        'Fredericka the Great': '\u201C\u201D\u2018\u2019',
        'Kranky': 'Submit',
        'Allura': null,
        'Roboto': null,
        'Bilbo Swash Caps': null
      }
    </script>
    <% if (htmlWebpackPlugin.options.development) { %>
      ${ require('raw-loader!../../common/loader.html') }
    <% } else { %>
      {{ render 'common/loader.html'}}
    <% } %>
    <!-- bundled scripts will be inserted after this line -->
  </body>
</html>